$font-main: 'Poppins', sans-serif;
$color-background: #f4f4f4;
$color-text: #333;
$color-border: #ccc;
$color-button-hover: #ffffff;
$color-save-button: #1fc825;
$color-save-button-hover: #45a049;
$color-restore-button: #909090;
$color-restore-button-hover: #00417e;

body {
  width: 400px;
  font-family: $font-main;
  background-color: $color-background;
  color: $color-text;
  padding: 10px;

  // Nested class for border alert
  &.body-border-alert {
    border: 2px solid red;
  }
}


.mapping-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

input[type='text'] {
  padding: 5px;
  margin-right: 5px;
  border: 1px solid $color-border;
  border-radius: 4px;
  font-size: 12px;
  flex-grow: 1;
}

.action-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #f44336;
  font-size: 16px;
  padding: 0 5px;

  &:hover {
    color: $color-button-hover;
  }
}

#addMapping,
#addInAppEvent {
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}
.custom-icon-url-label {
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 5px;
}

#save {
  background-color: $color-save-button;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  display: block;
  width: 90px;
  margin-right: 20px;

  &:hover {
    background-color: $color-save-button-hover;
  }
}

.subsection-header {
  font-weight: bold;
  font-size: smaller;
  margin-top: 5px;
  margin-bottom: 5px;
}

.subsection-switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.image-options,
.save-section,
.restore-section {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;

  &.save-section {
    flex-direction: row-reverse;
  }

  &.restore-section {
    flex-direction: row;
  }
}

.image-option {
  width: 50px;
  height: 50px;
  object-fit: contain;
  cursor: pointer;
  border: 2px solid transparent;
  padding: 5px;
  border-radius: 11px;
}

#customImageUrl,
.preview-image {
  width: 100%;
  padding: 5px;
  border-radius: 11px;
  font-size: 12px;

  &.preview-image {
    max-width: 50px; // Smaller preview image
    max-height: 50px;
    object-fit: contain;
  }
}

.image-preview {
  margin-top: 10px;
  text-align: center;
}
#restoreDefaults {
  background-color: $color-restore-button;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 10px;
  display: block;
  width: 80px;

  &:hover {
    background-color: $color-restore-button-hover;
  }
}

.defaults-text {
  color: gray;
  font-size: smaller;
}

#mediasection {
  margin-top: 15px;
  margin-bottom: 15px;
}
#inappsection {
  margin-bottom: 15px;
}
#customiconsection {
  margin-top: 15px;
}
#unsaved-changes-msg {
  color: red;
  font-size: smaller;
  font-weight: bold;
  display: none;
  text-align: center;
  margin-bottom: 15px;
}

.text-blurb {
  font-size: 0.4em; // Slightly smaller than normal text
  color: #7b7b7b; // A lighter, more subtle color
  margin-top: 0.5em; // Space above the blurb
  margin-bottom: 1em; // Space below the blurb
  padding: 0.5em; // Padding around the text for readability
  border-left: 3px solid #ccc; // A subtle left border for emphasis
  background-color: #f9f9f9; // A light background to make it stand out
  font-style: italic; // Italicize the text for emphasis
}
#preset-mappings {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.preset-button {
  background-color: transparent;
  cursor: pointer;
  font-size: 13px;
  padding: 0 10px;
  margin: 5px;
  height: 45px;
  // rounded corners
  border: none;
  border-radius: 5px;

  &:hover {
    color: $color-button-hover;
  }

  &.active {
    outline: 2px solid green; // Adjust outline size and color as needed
    outline-offset: 4px; // Adjust the space between the button and the outline
    font-weight: bold;
  }

  // Specific styles for each button ID
  &#button-general {
    background-color: #de94d3; // Red
  }
  &#button-gaming {
    background-color: #f7aaaa; // Green
  }
  &#button-ecommerce {
    background-color: #fbce8e; // Blue
  }
  &#button-banking {
    background-color: #83c583; // Green
  }
  &#button-custom {
    background-color: #d5e083; // Blue
  }
  // Add more IDs and colors as needed
}


.selected-image {
  border: 2px solid green;
}

.deselected-image {
  border: none;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

input.error {
  border: 1px solid red; // Red border for error indication
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

#overlay {
  position: fixed; // Full screen overlay
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); // Semi-transparent black background
  z-index: 1000; // Ensure it's above other content
  display: none;
  justify-content: center;
  align-items: center; // Center content vertically

  .overlay-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px; // Maximum width of the overlay content
    text-align: center;

    h2 {
      margin-top: 0;
      color: #333;
    }

    p {
      color: #666;
    }

    label {
      display: block;
      margin-top: 20px;
      color: #333;
      font-weight: bold;
    }

    input[type="text"],
    select {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-sizing: border-box; // Ensures padding doesn't affect the width
    }

    button {
      margin-top: 20px;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      background-color: #007bff; // Example blue color
      color: white;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3; // Darker blue on hover
      }
    }
  }
}
